/* Estilos generales */
.container-de-ambos {
    display: flex;
    flex-direction: column;
  }
  
  /* Nuevos estilos para los contenedores izquierdo y derecho */
  .parte-izq-container {
    position: absolute;
    left: 2%;
    top: 55%; /* Ajusta la posición vertical según tus preferencias */
  }
  
  .parte-der-container {
    position: absolute;
    right: 0;
    top: 15%; /* Ajusta la posición vertical según tus preferencias */
  }
  