/* Estilos generales */
.container-de-ambos {
  display: flex;
  flex-direction: column; /* Coloca los elementos uno encima del otro */
  align-items: center; /* Alinea los elementos al centro horizontalmente */
}

.logo-container {
  margin-bottom: 100px; /* Ajusta la separación entre el logo y el botón */
}

/* Nuevos estilos para los contenedores izquierdo y derecho */
.parte-izq-container {
  position: absolute;
}

.parte-der-container {
  position: absolute;
}
