.responsive-persona-upds {
    width: 150px;
    height: 200px;
}
@media (max-width: 800px),(max-height: 800px){
  .responsive-persona-upds {
    width: 140px;
    height: 190px;
  }
}
@media (max-width: 700px),(max-height: 700px){
    .responsive-persona-upds {
      width: 130px;
      height: 180px;
    }
}
@media (max-width: 600px),(max-height: 600px){
    .responsive-persona-upds {
      width: 120px;
      height: 170px;
    }
}
@media (max-width: 500px),(max-height: 500px){
    .responsive-persona-upds {
      width: 110px;
      height: 160px;
    }
}
@media (max-width: 400px),(max-height: 400px){
    .responsive-persona-upds {
      width: 100px;
      height: 150px;
    }
}
@media (max-width: 300px),(max-height: 300px){
    .responsive-persona-upds {
      width: 90px;
      height: 140px;
    }
}