.responsive-bg-rojo {
    width: 325px; /* Establece el ancho al 100% para que sea completamente receptivo */
}
@media (max-width: 800px),(max-height: 800px){
    .responsive-bg-rojo{
        width: 275px;
    }
}
@media (max-width: 700px),(max-height: 700px){
    .responsive-bg-rojo{
        width: 225px;
    }
}

@media (max-width: 600px),(max-height: 600px){
    .responsive-bg-rojo{
        width: 175px;
    }
}

@media (max-width: 500px),(max-height: 500px){
    .responsive-bg-rojo{
        width: 150px;
    }
}

@media (max-width: 400px),(max-height: 400px){
    .responsive-bg-rojo{
        width: 100px;
    }
}

@media (max-width: 300px),(max-height: 300px){
    .responsive-bg-rojo{
        width: 50px;
    }
}