.container-de-ambos {
    display: flex;
    flex-direction: column; /* Coloca los elementos uno encima del otro */
    align-items: center; /* Alinea los elementos al centro horizontalmente */
}
  
.logo-container {
    /* Estilos específicos para el contenedor del logo */
    margin-bottom: 100px; /* Ajusta la separación entre el logo y el botón */
}