/* UpdsGoIndex.css */

body {
  overflow: hidden; /* Evita que se haga scroll en el cuerpo de la página */
  margin: 0; /* Elimina el margen por defecto del cuerpo */
}

.UpdsGoIndex {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden; /* Evita que se haga scroll en el contenedor principal */
}

.LogoUpds-container {
  margin-bottom: 15px; /* Ajustado para separar del botón */
}

.MicrosoftLoginButton-container {
  margin-bottom: 15px; /* Ajustado para separar del contenido siguiente */
}

/* Recuerda ajustar o quitar estas reglas según tus necesidades cuando desees desbloquear la pantalla */
